@model IEnumerable<Domain.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NbrBorrowsMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contribution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RateCoef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DurationCoef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReductionCodeEnable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NbrBorrowsMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contribution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RateCoef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationCoef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReductionCodeEnable)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
